<%- include('header'); -%>

<div class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>
<div class="box">
  <% for (var i = 0; i<newListitem.length; i++){ %>
  <div class="item">
    <input type="checkbox">
    <p><%= newListitem[i] %></p>
  </div>

  <% } %>
  <form action="/" method="post" class="item">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off" autofocus>
    <button type="submit" name="list" value="<%= listTitle %>">+</button>
  </form>
</div>

<%- include('footer'); -%>